<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VACARI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TESIS 0.1", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("Ingresar Cita", "IngresarCita", "Home")</li>
                    <li>@Html.ActionLink("Nueva Historia Clinica", "NuevaHistoriaClinica", "Home")</li>
                    <li>@Html.ActionLink("Cita Médica", "CitaMedicaListar", "Home")</li>
                    <li>@Html.ActionLink("Signos Vitales", "Signos Vitales", "Home")</li>
                    <li>@Html.ActionLink("Temperatura", "Temperatura", "Home")</li>
                    <li>@Html.ActionLink("Presión Arterial", "PresionArterial", "Home")</li>
                    <li>@Html.ActionLink("Frecuencia Cardiaca", "FrecuenciaCardiaca", "Home")</li>
                    <li>@Html.ActionLink("Frecuencia Respiratoria", "FrecuenciaRespiratoria", "Home")</li>
                    <li>@Html.ActionLink("Peso", "Peso", "Home")</li>
                    <li>@Html.ActionLink("Talla", "Talla", "Home")</li>
                    <li>@Html.ActionLink("Pedido Examen", "PedidoExamen", "Home")</li>
                    <li>@Html.ActionLink("Diagnostico SOAP", "DiagnosticoSOAP", "Home")</li>
                    <li>@Html.ActionLink("Resultados", "ResultadoExamenMedico", "Home")</li>
                    <li>@Html.ActionLink("Proforma", "ProformaExamenMedico", "Home")</li>
                    <li>@Html.ActionLink("Certificado", "CertificadoMedico", "Home")</li>
                    <li>@Html.ActionLink("Pagos Personal", "PagosPersonal", "Home")</li>
                    <li>@Html.ActionLink("Egreso", "Egreso", "Home")</li>
                    <li>@Html.ActionLink("Ingreso", "Ingreso", "Home")</li>
                    <li>@Html.ActionLink("Inventario", "Inventario", "Home")</li>
                    <li>@Html.ActionLink("Facturacion", "Facturacion", "Home")</li>
                    <li>@Html.ActionLink("Ingreso Personal", "IngresoPersonal", "Home")</li>
                    <li>@Html.ActionLink("Lista Personal", "ListaPersonal", "Home")</li>
                    <li>@Html.ActionLink("Buscar Paciente", "BuscarPaciente", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - VACARI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
